body {
    font-family: monospace;
    margin: auto auto;
    width: 80ch;
    background: #FFFFFF;
    color: #000000;
}

#header {
    text-align: center;
}

#menu {
    text-align: center;
}

#footer {
    text-align: right;
}

a {
    color: #000000;
}

a:visited {
    color: #000000;
}

/* javascript code prettifier */

pre.prettyprint { display: block; padding: 10px; background-color: #333 !important}
pre.nocode { color: #fff !important }
